:root {
  --blue: hwb(186 60% 7%);
  --grey: rgb(56, 52, 52);
}

body {
  margin: 0;
}

header {
  background-color: var(--grey);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: var(--grey);
  background-color: var(--blue);
  width: 130px;
  padding-left: 25px;
}

nav {
  color: var(--blue);
  display: flex;
}

h2 {
  text-decoration: underline;
  padding: 10px;
}

h3 {
  color: var(--grey);
  background-color: var(--blue);
  width: fit-content;
}
